<form class="flex h-full w-full flex-col" @submit.prevent="submit">
  <div class="grow overflow-hidden shadow-sm">
    <label for="content" class="sr-only">Content</label>
    <textarea
      id="content"
      ref="content"
      class="block h-full w-full resize-none border-0 py-1 placeholder:text-slate-400 focus:ring-0 sm:text-sm"
      placeholder="Write a text..."
      spellcheck="false"
      v-focus
      v-model.trim="store.content"
      :disabled="store.submiting"
    ></textarea>
  </div>
  <div class="inset-x-px bottom-0">
    <div
      class="flex items-center justify-between space-x-3 border-t border-gray-200 px-2 py-2 sm:px-3"
    >
      <select
        v-cloak
        v-model.number="store.expireIn"
        :disabled="store.submiting"
        class="rounded-full border-gray-300 py-2 pl-3 pr-10 text-sm text-gray-400 transition focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
      >
        <template v-for="option in expireInOptions" :key="option.value">
          <option :value="option.value">{{option.label}}</option>
        </template>
      </select>
      <div class="flex-shrink-0">
        <button
          v-cloak
          type="submit"
          :disabled="store.disabled"
          :class="{'cursor-not-allowed': store.submiting}"
          class="[&[v-cloak]]:bg-gray-100 inline-flex items-center rounded-full border border-transparent bg-green-500 px-4 py-2 text-sm font-medium text-white shadow-sm transition hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-offset-2 disabled:cursor-not-allowed disabled:bg-gray-100 disabled:text-gray-500"
        >
          <template v-if="!store.disabled">
            <template v-if="store.submiting">
              <svg
                class="-ml-1 mr-3 h-4 w-4 animate-spin text-white"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
              >
                <circle
                  class="opacity-25"
                  cx="12"
                  cy="12"
                  r="10"
                  stroke="currentColor"
                  stroke-width="4"
                ></circle>
                <path
                  class="opacity-75"
                  fill="currentColor"
                  d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
                ></path>
              </svg>
            </template>
          </template>
          <span>{{store.submiting ? 'Creating...': 'Create'}}</span>
        </button>
      </div>
    </div>
  </div>
</form>
