<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      href="https://api.iconify.design/fxemoji/emptynote.svg?width=512&height=512"
      type="image/svg+xml"
    />
    <title>{title_no_markup_placeholder}</title>
    <meta name="description" content="{description_placeholder}" />
    <meta property="og:title" content="{title_no_markup_placeholder}" />
    <meta property="og:type" content="website" />
    <meta name="theme-color" content="#E64D36" />
    <meta
      property="og:image"
      content="https://images.unsplash.com/photo-1527656855834-0235e41779fd?auto=format&fit=crop&w=1548&q=80"
    />
    <script src="https://unpkg.com/iconify-icon@1" async></script>
    <link href="/assets/style.css" rel="stylesheet" />
  </head>
  <body>
    <div
      id="app"
      class="flex min-h-screen w-full flex-col bg-white font-sans [&_[v-cloak]]:opacity-0"
    >
      <div>
        <div
          class="bg-gradient-to-r from-green-50/50 via-indigo-200/50 to-indigo-100/50 px-4 py-4"
        >
          <div
            class="flex w-full items-center justify-between md:mx-auto md:max-w-6xl"
          >
            <div>
              <a
                href="/"
                class="inline-block py-2 text-2xl font-bold text-gray-800"
              >
                {app_name_placeholder}.
              </a>
            </div>

            <div class="text-sm sm:text-base md:block">
              <a
                href="{about_url_placeholder}"
                target="target_about"
                class="mr-6 inline-block py-1 text-gray-500 hover:text-gray-600 md:py-4"
              >
                About
              </a>
              <a
                href="https://github.com/nghiepdev/freenote.nghiep.dev"
                target="blank_github"
                class="inline-block rounded-lg bg-white px-4 py-2 text-gray-700 hover:bg-slate-50"
              >
                Go to Github
              </a>
            </div>
          </div>
        </div>

        <div
          class="bg-gradient-to-r from-green-50/50 via-indigo-200/50 to-indigo-100/50 md:overflow-hidden"
        >
          <div class="px-4 py-4 md:py-16">
            <div class="relative w-full text-center md:mx-auto md:max-w-2xl">
              <div
                class="mb-16 text-xl font-bold leading-tight text-gray-700 transition sm:text-2xl md:mb-6 md:text-5xl"
              >
                <div
                  v-html="titleMarkup"
                  class="[&:empty]:hidden [&:not(:empty)+h1]:hidden"
                ></div>
                <h1>{title_no_markup_placeholder}</h1>
              </div>

              <p class="md:px-18 hidden text-gray-600 md:block md:text-xl">
                {description_placeholder}
              </p>

              <div
                class="absolute bottom-0 right-0 -mb-64 -mr-48 hidden h-40 w-40 rounded-full bg-blue-800 md:block"
              ></div>

              <div
                class="absolute right-0 top-0 -mr-40 mt-32 hidden h-5 w-5 rounded-full bg-yellow-500 md:block"
              ></div>
            </div>
          </div>
          <svg
            class="fill-current text-white md:block"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 1440 320"
          >
            <path
              fill-opacity="1"
              d="M0,64L120,85.3C240,107,480,149,720,149.3C960,149,1200,107,1320,85.3L1440,64L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"
            ></path>
          </svg>
        </div>

        <div
          class="relative z-20 mx-4 -mt-[120px] max-w-4xl rounded-[20px] bg-white shadow-lg sm:-mt-[200px] md:block lg:mx-auto xl:-mt-[320px] 2xl:-mt-[400px]"
        >
          <div
            class="absolute left-0 top-0 z-[-1] -ml-10 -mt-10 h-20 w-20 rounded-full bg-yellow-500"
          ></div>

          <div
            class="absolute left-0 top-0 z-[-1] -ml-32 mt-12 h-5 w-5 rounded-full bg-blue-500"
          ></div>

          <div
            class="h-10 rounded-t-lg border-b border-gray-100 bg-white"
          ></div>
          <div class="flex h-[340px] sm:h-[550px]">{form_placeholder}</div>
        </div>

        <p class="mt-10 p-4 text-center text-sm text-gray-600 sm:text-base">
          Made with
          <iconify-icon
            icon="emojione:red-heart"
            class="translate-y-px"
          ></iconify-icon>
          in Vietnam
        </p>
      </div>
      {modal_placeholder}
    </div>
    <script type="module">
      import ky from 'https://unpkg.com/ky';
      import {
        createApp,
        reactive,
        watch,
      } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js';

      const EXPIRE_IN = 'expireIn';

      const isIOS =
        /iPad|iPhone|iPod/.test(navigator.userAgent) ||
        (navigator.platform === 'MacIntel' && navigator.maxTouchPoints > 1);

      const fetch = ky.create({
        hooks: {
          beforeError: [
            async error => {
              try {
                const {message} = await error.response.json();
                error.message = message || error.message;
              } catch (error) {}

              return error;
            },
          ],
        },
      });

      const store = reactive({
        content: '',
        expireIn: localStorage.getItem(EXPIRE_IN) ?? -1,
        submiting: false,
        submitSuccess: null,
        submitError: null,
        copyNoteLinkState: 'Copy',
        copyError: null,
        get disabled() {
          return !this.content || !this.expireIn;
        },
        toggleSubmiting(submiting) {
          this.submiting = submiting;
        },
        resetState() {
          this.submitSuccess = null;
          this.submitError = null;
          this.copyError = null;
        },
      });

      // Priested expire value
      watch(
        () => store.expireIn,
        value => {
          localStorage.setItem(EXPIRE_IN, value);
        },
      );

      createApp({
        data() {
          return {
            store,
            title: '{title_placeholder}',
            descripton: '{description_placeholder}',
            expireInOptions: {expire_in_placeholder},
          };
        },
        computed: {
          titleMarkup() {
            return this.title.replace(/{(.*)}/g, (p, p1) => {
              return `
                          <span class="relative whitespace-nowrap text-orange-400">
                            <svg
                              aria-hidden="true"
                              viewBox="0 0 418 42"
                              class="absolute top-2/3 left-0 h-[0.58em] w-full fill-blue-300"
                              preserveAspectRatio="none"
                            >
                              <path
                                d="M203.371.916c-26.013-2.078-76.686 1.963-124.73 9.946L67.3 12.749C35.421 18.062 18.2 21.766 6.004 25.934 1.244 27.561.828 27.778.874 28.61c.07 1.214.828 1.121 9.595-1.176 9.072-2.377 17.15-3.92 39.246-7.496C123.565 7.986 157.869 4.492 195.942 5.046c7.461.108 19.25 1.696 19.17 2.582-.107 1.183-7.874 4.31-25.75 10.366-21.992 7.45-35.43 12.534-36.701 13.884-2.173 2.308-.202 4.407 4.442 4.734 2.654.187 3.263.157 15.593-.78 35.401-2.686 57.944-3.488 88.365-3.143 46.327.526 75.721 2.23 130.788 7.584 19.787 1.924 20.814 1.98 24.557 1.332l.066-.011c1.201-.203 1.53-1.825.399-2.335-2.911-1.31-4.893-1.604-22.048-3.261-57.509-5.556-87.871-7.36-132.059-7.842-23.239-.254-33.617-.116-50.627.674-11.629.54-42.371 2.494-46.696 2.967-2.359.259 8.133-3.625 26.504-9.81 23.239-7.825 27.934-10.149 28.304-14.005.417-4.348-3.529-6-16.878-7.066Z"
                              ></path>
                            </svg>
                            <span class="relative">${p1}</span>
                          </span>`;
            });
          },
        },
        directives: {
          focus: {
            mounted: el => el.focus(),
          },
          selection: {
            mounted: (el, binding) => {
              el.addEventListener('click', () => {
                const selection = window.getSelection();
                const range = document.createRange();
                selection.removeAllRanges();
                range.selectNodeContents(el);
                selection.addRange(range);
              });
            },
          },
        },
        methods: {
          async submit() {
            const {content, expireIn, submiting} = this.store;

            if (submiting) {
              return;
            }

            try {
              this.store.toggleSubmiting(true);
              const response = await fetch.post('/', {
                json: {
                  value: content,
                  expire_in: expireIn && expireIn > 0 ? expireIn : undefined,
                },
              });

              const result = await response.json();
              const alias = result.__alias;
              this.store.submitSuccess = {
                key: result.key,
                alias: alias || result.key,
                __secret: result.__secret,
                origin: window.location.origin,
                expireText:
                  result.__expires &&
                  new Date(result.__expires * 1000).toLocaleString(),
              };
            } catch (error) {
              this.store.submitError = error.message;
            }
            this.store.toggleSubmiting(false);
          },
          copyToClipboard(value) {
            setTimeout(async () => await navigator.clipboard.writeText(value));
          },
          async copyNoteLink() {
            const {
              key,
              alias: currentAlias,
              __secret,
              origin,
            } = this.store.submitSuccess;

            if (this.store.copyNoteLinkState !== 'Copy') {
              return;
            }

            const link = new URL(`/${currentAlias}/raw`, origin);
            const aliasPath = this.$refs.aliasPath.textContent;

            if (isIOS) {
              link.pathname = `/${aliasPath}/raw`;
              this.copyToClipboard(link.toString());
            }

            if (__secret && aliasPath !== currentAlias) {
              this.store.copyNoteLinkState = 'Saving';
              try {
                const response = await fetch.put(`/${key}/${__secret}`, {
                  json: {
                    alias: aliasPath,
                  },
                });

                // const result = await response.json();

                link.pathname = `/${aliasPath}/raw`;
                this.store.copyError = null;
                this.store.submitSuccess.alias = aliasPath;
              } catch (error) {
                this.store.copyError = error.message;
              }
            }

            try {
              this.copyToClipboard(link.toString());
              this.store.copyNoteLinkState = 'Copied';
              setTimeout(() => {
                this.store.copyNoteLinkState = 'Copy';
              }, 1000);
            } catch (error) {
              this.store.copyError = error.message;
              this.store.copyNoteLinkState = 'Copy';
            }
          },
          retryNote() {
            this.$refs.content.focus();
            this.store.resetState();
          },
          newNote() {
            this.$refs.content.select();
            this.store.resetState();
          },
        },
      }).mount('#app');
    </script>
  </body>
</html>
