@tailwind base;
@tailwind components;
@tailwind utilities;

iconify-icon {
  display: inline-block;
  min-width: 1em;
}
iconify-icon:not([height]) {
  height: 1em;
}
.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  margin-top: -15px;
  margin-left: -15px;
  border-radius: 50%;
  border: 1px solid #ccc;
  border-top-color: #07d;
}
